DATABASE_URL="postgresql://postgres:password123@localhost:5432/tickeven?schema=public"
JWT_SECRET="super-secret-jwt-key-for-tickeven-auth-signature-12345"
TICKETMASTER_API_KEY="mock_key_because_not_provided"
FRONTEND_URL="http://localhost:5173"
PORT=3000
